/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--mainBackgroundColor);
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

h2 {
  
}