/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/root.scss";
@import "styles/fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

